# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

#Misc

*.pdf
*.log
*.aux
*.blg
*.out
*.gz
*.toc

# OpenFOAM case runtime (keep 0/ templates + system/constant dicts)
cases/**/constant/polyMesh/
cases/**/processor*
cases/**/postProcessing
cases/**/case.foam
cases/**/log.*
cases/**/[1-9]*
cases/**/0.*
!cases/**/0/
!cases/**/0/**
apps/**/Make/linux*
apps/**/Make/linux64*
apps/laplaceOcl/build/
apps/csrOcl/build/

# Local disk snapshot duplicates (keep dated dirs; ignore LATEST copies if desired)
docs/snapshots/*-LATEST/
